<div class="page">
    <test-run-card test-run="$ctrl.testRun" single-mode="true"></test-run-card>
    <div class="row ui-section no-margin">
        <div class="col-md-12 no-padding">
            <article class="article">
                <md-card class="no-margin-h">
                    <md-table-container>
                        <div md-table="md-table" class="table">
                            <div md-head="md-head" data-ng-hide="!$ctrl.testRun.tests">
                                <div class="test-run-group-row _main" md-row="md-row">
                                    <div md-column="md-column" class="sort-new test-run-group-column" colspan="4">
                                        <div class="test-run-group">
                                            <div class="test-run-group_wrapper _left">
                                                <div class="test-run-group_controls-buttons">
                                                    <button id="plainToggle" ng-class="{'md-primary': $ctrl.testGroupMode === 'PLAIN'}"
                                                        class="md-button md-raised md-ink-ripple" type="button"
                                                        ng-click="$ctrl.switchTestGroupMode('PLAIN');">
                                                        Plain
                                                    </button>
                                                    <button id="groupsToggle" ng-class="{'md-primary': $ctrl.testGroupMode === 'GROUPS'}"
                                                        class="md-button md-raised md-ink-ripple" type="button"
                                                        ng-click="$ctrl.switchTestGroupMode('GROUPS');">
                                                        Groups
                                                    </button>
                                                </div>
                                                <chips-array chips="$ctrl.testRun.tags" options="$ctrl.testsTagsOptions"
                                                    count-to-show="3" multi="$ctrl.testGroupMode === 'PLAIN'" on-select="$ctrl.onTagSelect($tags);"></chips-array>
                                            </div>
                                            <div class="test-run-group_wrapper _right">
                                                <status-buttons on-button-click="$ctrl.onStatusButtonClick($statuses);"
                                                    options="$ctrl.testsStatusesOptions" multi="true"></status-buttons>
                                                <div class="test-run-group_sorts">
                                                    <div name="sortElapsed" sort-item="{{$ctrl.testGroups.reverse}}"
                                                        class="pointer col-sm-2" data-ng-click="$ctrl.testGroups.predicate = 'elapsed'; $ctrl.testGroups.reverse = !$ctrl.testGroups.reverse">Elapsed&nbsp;</div>
                                                </div>
                                                <div class="test-run-group_other-buttons">
                                                    <button id="resetAllToggle" class="md-button md-ink-ripple" type="button"
                                                        ng-click="$ctrl.resetTestsGrouping(); $ctrl.reverse = false; $ctrl.predicate = 'startTime';">
                                                        RESET
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div ng-show="$ctrl.testGroupMode === 'GROUPS'" ng-repeat-start="(packageName, tests) in $ctrl.testGroups.group[$ctrl.testGroups.mode].data track by $index"
                                    class="test-run-group-row groups" md-row="md-row">
                                    <div class="test-run-group-column md-column" colspan="4">
                                        <div class="test-run-group">
                                            <div class="test-run-group_name">
                                                <i ng-click="$ctrl.selectTestGroup($ctrl.testGroups.group[$ctrl.testGroups.mode], packageName);"
                                                    ng-class="$ctrl.testGroups.group[$ctrl.testGroups.mode].selectedName === packageName ? 'checked' : 'unchecked'"
                                                    class="material-icons">
                                                    keyboard_arrow_down
                                                </i>
                                                <span>{{packageName}}</span>
                                            </div>
                                            <div ng-if="$ctrl.testGroups.group[$ctrl.testGroups.mode].selectedName === packageName"
                                                class="test-run-group_sorts">
                                                <div name="sortElapsed" sort-item="{{$ctrl.testGroups.reverse}}" class="pointer col-sm-2"
                                                    data-ng-click="$ctrl.testGroups.predicate = 'elapsed'; $ctrl.testGroups.reverse = !$ctrl.testGroups.reverse">Elapsed&nbsp;</div>
                                            </div>
                                            <status-buttons ng-if="$ctrl.testGroups.group[$ctrl.testGroups.mode].selectedName === packageName"
                                                on-button-click="$ctrl.onStatusButtonClick($statuses);" options="$ctrl.testsStatusesOptions"
                                                multi="true"></status-buttons>
                                        </div>
                                    </div>
                                </div>
                                <div ng-attr-id="test_{{test.id}}"  ng-repeat-end ng-if="test.show === true && test.showByStatus === true && $ctrl.testGroups.group[$ctrl.testGroups.mode].selectedName === packageName"
                                    md-swipe-left="$ctrl.changeTestStatus(test, 'FAILED');" md-swipe-right="$ctrl.changeTestStatus(test, 'PASSED');"
                                    data-ng-repeat="(id, test) in testGroupMode === 'PLAIN' ? $ctrl.testRun.tests : tests | orderObjectBy:$ctrl.testGroups.predicate:$ctrl.testGroups.reverse track by $index"   
                                    data-ng-hide="$ctrl.testRun.status === 'IN_PROGRESS' && test.status === 'QUEUED'">
                                    <test-run-infos class="test" test="test" id="id" ng-class="{'info {{::main.theme}}' : test.status === 'IN_PROGRESS', 'success {{::main.theme}}' : test.status === 'PASSED', 'danger {{::main.theme}}' : test.status === 'FAILED', 'warning {{::main.theme}}' : test.status === 'SKIPPED', 'aborted-test-bg' : test.status === 'ABORTED'}"></test-run-infos>
                                </div>
                                <div name="testLoading" md-row="md-row">
                                    <div md-cell="md-cell" colspan="4" class="text-center" data-ng-show="!$ctrl.testRun.tests">
                                        <span>
                                            <md-progress-circular md-mode="indeterminate" md-diameter="20px" class="tests-loading-spinner"></md-progress-circular>
                                            Tests are loading...
                                        </span>
                                    </div>
                                </div>
                                <div md-row="md-row" data-ng-if="$ctrl.testRun.tests | isEmpty">
                                    <div md-cell="md-cell" colspan="4" class="text-center">
                                        No tests
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-table-container>
                </md-card>
            </article>
        </div>
    </div>
</div>
